.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.container > span {
  font-weight: var(--normal);
  font-size: var(--xxs-size);
  line-height: 21px;
  color: var(--secondary-text-color);
}
